on:
  push:
    branches:
      - main
name: release-please

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Run release-please
        id: release-please
        uses: googleapis/release-please-action@v4
        with:
          release-type: python
          token: ${{ secrets.PR_CREATION_TOKEN }}
